.wrapper {
  display:flex;
  height: 100%;
  width: 100%;
  justify-content: left;
  align-items: center;
}

.accordion {
  width: 500px;
  align-items: center;
}

.item {
  background:#A8DBFB;
  padding: 15px 25px;
  border-radius: 15px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filter-title {
  font-weight: bold;
  position: relative;
  bottom: 5px;
}

.title span {
  scale: 200%;
  margin-top: 10px;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

input {
  align-items: center;
}

input.checkboxes {
  margin-right: 10px !important;
  margin-left: 15px !important;
  margin-bottom: 7px !important;
  transform: scale(1.8);
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.feature-label {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: px;
}

.checkboxes {
  margin-right: 10px;
}