.home-container {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  margin-left: 40px;
}

.text-filter h1 {
  font-size: 48px;
  font-weight: bold;
  position: relative;
  bottom: 20px;
}

.text-filter text {
  display: block;
  width: 90%;
  font-size: 18px;
  position: relative;
  bottom: 15px;
}

.text-filter h2 {
  font-weight: bold;
}

text {
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.wrapper {
  display:flex;
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: left;
}

.accordion {
  width: 775px;
  margin-right: 25px;
  align-items: center;
}

.item {
  background:#A8DBFB;
  padding: 5px 25px;
  border-radius: 15px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filter-title {
  font-weight: 400 !important;
  font-size: 28px;
  position: relative;
  bottom: 5px;
}

.title span {
  scale: 200%;
  margin-top: 10px;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

input {
  align-items: center;
}

input.checkboxes {
  margin-right: 10px !important;
  margin-left: 15px !important;
  margin-bottom: 7px !important;
  transform: scale(1.8);
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 10px;
}

.feature-label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: px;
}

.checkboxes {
  margin-right: 10px;
}

@media (max-width: 480px) {
  .text-filter text {
    height:auto;
    width:auto;
  }

  .home-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
  }

  .accordion {
    width: auto;
    margin-left: -10px;
    scale: 95%;
  }

  .feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    grid-gap: 10px;
    padding-left: 0px;
  }

  .item {
    background:#A8DBFB;
    width: auto;
    padding: 5px 10px;
    border-radius: 15px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    cursor: pointer;
  }
}