

.card {
    background-color: #D8F0FB;
}

.card-pill{
    border: none;
    background-color: lightblue;
    color: black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}