

.card {
    background-color: #D8F0FB;
}

.card-pill{
    background-color: #ffff;
    border: none;
    color: black;
    padding: 10px;
    margin-right: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1px;
    cursor: pointer;
    border-radius: 16px;
}