.navbar {
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
}
 
 
 .navbar-nav {
    margin-left: none;
  }
   /* .navbar-nav li {
    float: none;
    display: inline-block;
  }
   .navbar-nav li a {
    padding-left: 500px;
    padding-right: 10px;
  } */
 
  .nav-container{
   align-items: center !important;
   display: flex;
   justify-content: space-between;

  }
 
 
 
 .nav-color {
    background-color: #C2E9B3;
 }
 
 
 .navbar-brand,
 .navbar-brand:hover {
    color: black;
 }
 
 
 .navbar-brand {
    display: flex;
    align-items: center;
 
 
 }
 
 
 .app-logo {
    height: 4rem;
 }
 
 
 .app-name {
    height: 3rem;
  }
 
 
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
    display: flex;
    /* justify-content: space-between; */

 }
 
nav {
    justify-content: space-between;
    
 }

 .nav-link {
    /* font-family: 'sans-serif'; */
    font-size: 30px;
    /* margin-left: auto;  */
    /* margin: 40px; */
    margin-left: 2rem;
    color: black;
    /* position: absolute;
    right: 5%; */
 
 
 }
 
 
 .nav-link:hover {
    color: #5E5B4B;
 }
 
 
 .nav-link:active {
    color: blue;
 }
 

 
 /* ul {
    list-style-type: none;
    padding: 13px;
  } */
 
 
 /*.navbar-toggler {
    border-color: transparent;
    border-radius: 4px;
 }
 
 
 .navbar-toggler:focus {
    box-shadow: 0 0 0 0;
 }
 
 
 /*.fa-solid {
    padding: 5px 0;
    color: #76725E;
 }
 
 
 /*.fa-solid:hover {
    color: #5E5B4B;
 } */
 
 
 /* @media (min-width: 768px) {
    .container-fluid {
        /* padding: 0 50x; */
    /* }
 
 
    .navbar-brand {
        display: flex;
        align-items: center;
        margin-right: 500px;
        font-size: 35px;
   
    }
 } */
 
 
 
 
 /* @media (min-width: 1098px) {
 
 
    /* .navbar-brand {
        display: flex;
        align-items: center;
        margin-right: 890px;
        font-size: 35px;
   
    } */
   
.mobile-menu-icon {
   color: black; 
   fill: black; 
   justify-content: flex-end;
   display: flex;
   font-size: 55px;
} 

/* @media screen and (max-width: 780px) {
   .log {
      display: flex;
      position: absolute;
      top: 15px;
      left: 35px;

   }
} */

@media (max-width: 480px) {
   .list {
      display: none;
      
   }
   

}


@media (min-width: 576px){
      
   .list {
      padding: 0;
      margin: 0;
      list-style: none;
      justify-content: flex-end;
      display: flex;
      /* justify-content: space-between; */

   }

   .mobile-menu-icon{
      display: none;
   }
}
 
 
 
 