

.leaflet-popup-content-wrapper {
    background-color: #D8F0FB;
}

#map{
    height: 700px;
    width: 200%;
    border: 2px solid #00824B;
}

@media (max-width: 480px) {
    #map {
        height: 380px;
        width: auto;
        border: 2px solid #00824B;
        margin-top: 10px;
    }
 }